/*work sans font*/

@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Merriweather:ital,wght@0,400;1,300&family=Oleo+Script+Swash+Caps&family=Roboto&family=Work+Sans:wght@400;500;600;700;800&display=swap');

* {
    font-family: 'Work Sans', sans-serif;
}
/* navbar styles */
header{
    /* width: 1920px;
        height: 130px;
        box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    background-color: #FFF; */
}
.first-text{
    color: #FF42A5;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-container{
   padding-left: 120px;
   padding-right: 120px;
   background: #FFF;
   /* bborder: 1px solid #FFF; */
}
nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 30px;
    font-size: 15px;
}
 .icon{
    border-radius: 8px;
    font-size: 15px;
    align-items: center;
    background: rgba(11, 2, 35, 0.10);
    padding: 12px;
    width: 200px;
    height: 30px;
    display: flex;
    justify-content: space-between;   
}
img .icon-img{
    padding: 12px;
}
.section-title{
    display: flex;
    justify-content: center; 
    align-items: center; 
}
/* nav h3 .logo{
    width: 86px;
    height: 40px;
} */
/* banner section */
.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    /* margin: 0 auto; */
}
.banner-img-container{
    /* padding: 100px 50px 100px 40px; */
    max-width: 100%;
    height: 690px;
    padding-left: 180px;
}
.banner-title{
    color: #0B0223;
    font-size: 25px;
    font-style: normal;
    font-weight: 550;
    /* width: 348px;
    height: 56px; */
    /* gap: 5px; */
    /* line-height: 56px; */
}
.banner-tag{
    color: #F948B2;
    font-size: 35px;
    font-style: normal;
    font-weight: 750;
    /* width: 355px;
    height: 111px; */
    /* line-height: 110px; */
}
.banner-content{
    color: #534C64;
}
.sign-btn{
    border-radius: 48px;
    background-color: #FF42A5;
    padding: 15px 30px;
    font-size: 12px;
    font-weight: 500;
    color: #FFF;
    width: 130px;
    height: 45px;
    border: 0;
}
.go-btn{
    border-radius: 48px;
     background: #4EC5F7;
    padding: 15px 30px;
    font-size: 12px;
    font-weight: 500;
    color: #FFF;
    width: 148px;
    height: 45px;
    border: 0;
}

/* gamer section */
.gamer-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 90px;
}
.gamer-img{
    /* width: 868px;
        height: 489px; */
}
.gamer-title{
    color: #F948B2;
}
.gamer-description{
    color: #534C64;
    font-size: 10px;
    font-weight: 300px;
    text-align: right;
}
.gamer-btn{
    background: #FF42A5;
    border-radius: 48px;
    padding: 15px 30px;
    font-size: 12px;
    font-weight: 400;
    color: #FFF;
    width: 148px;
    height: 45px;
    border: 0;
}
.gamer-purpose{
    /* text-align: right; */
    font-size: 15px;
    padding-left: 180px; 
    color: #534C64;
}
.gamer-tagline{
    color: #534C64;
    font-weight: 700;
    padding-left: 25px;
}

/* Online game section */
.online-title{
   text-align: center;
}
.online-img-content{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    gap: 10px;
    width: 90%;
    padding-left: 20px;
}

/* play instantly section styles */
.play-instantly{
    display: flex;
    justify-content: center;
    align-items: center;
}
.talking-img{
    position: relative;
    bottom: 100px;
    border-radius: 8px;
    border: 0px solid #FFF;
}
/* icon content styles */
.icon-content{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
/* footer section */
.footer-section{
    background: #0B0223;
}
.story-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #FFF;
}
.icon-content{
    align-items: center;
    color: #FFF;
}
.terms-content{
    display: flex;
    justify-content: space-between;
    text-align: center;
    color: #FFF;
}
.copyright-content{
    text-align: center;
    color: #FFF;
}