/*work sans font*/

@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Merriweather:ital,wght@0,400;1,300&family=Oleo+Script+Swash+Caps&family=Roboto&family=Work+Sans:wght@400;500;600;700;800&display=swap');

* {
    font-family: 'Work Sans', sans-serif;
}
/* navbar styles */
header{
    /* width: 1920px;
        height: 130px;
        box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    background-color: #FFF; */
}
.first-text{
    color: #FF42A5;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-container{
   padding-left: 120px;
   padding-right: 120px;
   background: #FFF;
   /* border: 1px solid #FFF; */
}
nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 30px;
    font-size: 15px;
}
 .icon{
    border-radius: 8px;
    font-size: 15px;
    align-items: center;
    background: rgba(11, 2, 35, 0.10);
    padding: 8px;
    width: 180px;
    height: 30px;
    display: flex;
    justify-content: space-between;   
}
img .icon-img{
    padding: 10px;
}
.logo{
    width: 86px;
    height: 40px;
}
.section-title{
    display: flex;
    justify-content: center; 
    align-items: center; 
}
/* nav h3 .logo{
    width: 86px;
    height: 40px;
} */
/* banner section */
.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    /* margin: 0 auto; */
}
.banner-img-container{
    /* padding: 100px 50px 100px 40px; */
    max-width: 100%;
    /* height: 690px; */
    padding-left: 180px;
}
.banner-title{
    color: #0B0223;
    font-size: 25px;
    font-style: normal;
    font-weight: 550;
    /* width: 348px;
    height: 56px; */
    /* gap: 5px; */
    /* line-height: 56px; */
}
.banner-tag{
    color: #F948B2;
    font-size: 35px;
    font-style: normal;
    font-weight: 750;
    /* width: 355px;
    height: 111px; */
    /* line-height: 110px; */
}
.banner-content{
    color: #534C64;
}
.sign-btn{
    border-radius: 48px;
    background-color: #FF42A5;
    padding: 15px 30px;
    font-size: 12px;
    font-weight: 500;
    color: #FFF;
    width: 130px;
    height: 45px;
    border: 0;
}
.go-btn{
    border-radius: 48px;
     background: #4EC5F7;
    padding: 15px 30px;
    font-size: 12px;
    font-weight: 500;
    color: #FFF;
    width: 148px;
    height: 45px;
    border: 0;
}

/* gamer section */
.gamer-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 90px;
}
.gamer-img{
    /* width: 868px;
        height: 489px; */
}
.gamer-title{
    color: #F948B2;
}
.gamer-description{
    color: #534C64;
    font-size: 10px;
    font-weight: 300px;
    text-align: right;
}
.gamer-btn{
    background: #FF42A5;
    border-radius: 48px;
    padding: 15px 30px;
    font-size: 12px;
    font-weight: 400;
    color: #FFF;
    width: 148px;
    height: 45px;
    border: 0;
}
.gamer-purpose{
    /* text-align: right; */
    font-size: 15px;
    padding-left: 180px; 
    color: #534C64;
}
.gamer-tagline{
    color: #534C64;
    font-weight: 700;
    padding-left: 25px;
}

/* Online game section */
.online-content{
   text-align: center;
   font-size: 18px;
}
.online-title{
    color: #0B0223;
}
.text-color{
    color: #F948B2;
}
.online-description{
    color: #534C64;
    font-size: 12px;
    padding-bottom: 20px;
}
.online-img-content{
    display: flex;
    justify-content: space-between;
    width: 340px;
    gap: 10px;
    /* height: 00px; 
    align-items: center;
    gap: 10px;
    width: 90%;
    padding-left: 50px;
    padding-right: 50px;  */
}
.online-img-content .card{
    border-radius: 16px;
    /* padding: 12px 3px; */
    /* padding-left: 20px; */
    /* padding-right: 50px; */
    padding-bottom: 50px;
}
.online-img-content .card-title{
    color: #534C64;
    font-size: 12px;
    font-weight: 400;
}

/* play instantly section styles */
.play-instantly-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
 .play-color{
    color: #F948B2;
}
.play-title{
    color: #0B0223;
    text-align: right;
    padding-right: 230px;
    padding-left: 230px;
    /* line-height: 60px; */
}
.play-description{
    color: #534C64;
    font-size: 12px;
    font-weight: 140px;
    padding-left: 200px;
    padding-right: 200px;
    text-align: right;
}
.anniversary-img img{
    height: 90%;
    margin-left: 50px;
}
.talking-img{
    width: 320px;
    /* height: 350px; */
    /* padding-right: 50px; */
    border-radius: 8px;
    border: 0px solid #FFF;
    position: relative;
    bottom: 100px;
    right: 90px;
}
/* icon content styles */
.icon-content{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 390px;
    padding-left: 200px;
    padding-right: 90px; 
    padding-bottom: 30px;
}
.icon-img{
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex: wrap; */
    width: 70%;
    padding: 30px;
    border-radius: 50px;
    /* padding-left: 70px;
    padding-right: 70px; */
}
.icon-title{
    color: #0B0223;
}
/* footer section */
.footer-section{
    background: #0B0223;
}
.footer-logo-content{
    padding-top: 20px;
}
.logo-title{
    color: #FFF;
}
.story-content{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;

}
.story-tag{
    padding: 10px;
}
.social-links{
    /* display: inline-block; */
    align-items: center;
    padding-left: 650px ;
    /* justify-content: center; */
    color: #FFF;
}

.terms-content{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.60);
    font-size: 12px;
}
/* .terms-tag{
    padding: 10px;
} */
.copyright-content{
    text-align: center;
    color: rgba(255, 255, 255, 0.60);
    font-size: 12px;
    padding-bottom: 50px;
}
@media screen and (max-width: 576px){
    .header{
        padding: 20px;
    }
    .nav,
    .banner,
    .banner-img-container,
    .gamer-container,
    .online-img-content,
    .play-instantly-container
    {
        flex-direction: column;
    }
    .icon-img{
       grid-template-columns: 1fr;
    }
    

}